robotframework==7.0.1
robotframework-seleniumlibrary==6.3.0
selenium==4.18.1
robotframework-requests==0.9.7
requests==2.31.0
robotframework-sshlibrary==3.8.0
robotframework-databaselibrary==1.4.4
PyMySQL==1.1.0
reportlab==4.1.0
robotframework-datadriver==1.11.2
