[OOF]
OofFileType = "OrdRsp"
OrdReqInfo = "a"
NoId = "GCT"
OrderDate = "230226"
OrderId = "REPLACE_ORDER_ID"
OrderCustomerId = "120326_076"
OrderBatchCount = 1
ServiceType = "POSTPAID"
ServiceSubType.1 = "GCT"
ServiceSubType.2 = "BUSINESS M2M NP"
AlgorithmType = "3G Milenage"
[OOF.1]
OrderBatchCardCount = 1
[OOF.1.1]
GsmImsi = "420011010024513"
GsmIccid = "899660110010024513"
[OOF.END]
